accelerate>=0.22.0
diffusers>=0.25.0
matplotlib
scipy
torch>=2.0.1
torchvision>=0.15.2
transformers>=4.32.1
omegaconf
pandas
tabulate
scikit-learn
torch
torchvision
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22

opencv-python-headless>=4.8.0
sentencepiece==0.2.0
controlnet_aux
mediapipe
sam2
optimum
optimum-quanto